:root {
  --black: #000;
  --white: #fff;
  --primary-color: #52646d;
  --secondary-color: #e1e2e1;
  --bg-color: #f5f5f6;
  --light-blue-grey: rgb(146, 165, 172);
  --primary-color-darker: darken(--primary-color, 20%);
  --visited-links: #306569;
  --active-links: #489c79;
  --font-size-body: 16px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-weight-body: 400;
  --font-weight-h1-h2-h3: 700;
}

body {
  background-color: rgb(209, 255, 247);
  font-family: 'Inconsolata', monospace;
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  line-height: 1.6;
  text-align: center;
  /* sets the line height to 1.6 */
}

h1 {
  color: #2b4653;
  font-family: 'Inconsolata', monospace;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1-h2-h3);
}

.btn::first-letter {
  text-transform: uppercase;
}
.btn {
  background-color: #4caf50; /* Green */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  width: 400px;
}

.btn-secondary {
  margin: auto;
  width: auto;
}

li {
  list-style: none;
}

.page-container {
  margin-top: 80px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: relative;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: box;
  text-align: center;
}

.modal-body {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgb(219, 211, 211);
  width: 100%;
  max-width: auto;
  text-align: center;
  overflow: hidden;
}

.modal-dialog {
  margin-top: 50px;
}

.modal-header {
  background: rgb(219, 211, 211);
  text-align: left;
  border-bottom: none;
}
.modal-footer {
  background: rgb(219, 211, 211);
  border-top: none;
  widows: 100%;
}

.modal-title {
  width: 100%;
}

.modal h1 {
  margin-left: 8%;
  text-align: center;
  color: Black;
  font-size: 40px;
  font-family: inherit;
}

.modal h1::first-letter {
  text-transform: uppercase;
}

.modal p {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .btn {
    width: 200px;
  }
}

/* Tablet View */
@media (max-width: 768px) {
  /* div {
    padding-top: 50px;
  } */

  .btn {
    margin-left: 0;
  }
}

/* Mobile View */
@media (max-width: 400px) {
  div {
    padding-top: none;
    width: 100%;
  }
}
